.back-button{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 8px;
    font-size: 16px;
  }
  .search-result{
    margin-left: 4px;
    margin-right: 4px;
    font-size: 18px;
  }
  .next-button{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 8px;
    font-size: 16px;
  }

  .stretch-button{
    background-color: green;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    font-size: 15px;
    transition: padding-top 1s, padding-bottom 1s,
    padding-left 1s, padding-right 1s;
  }

  .stretch-button:hover{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;

  }

  .shadow-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: arial;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

  }
  .shadow-button:active{
    margin-right: 3px;
    margin-bottom: 3px;
    box-shadow: none;
  }

  .number-button{
    background-color: green;
    color: white;
    font-family: arial;
    font-size: 16px;
    border: none;
    margin-right: 6px;
    margin-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 12px;
    padding-left: 12px;
    cursor: pointer;
    transition: padding 0.15s, margin 0.15s;
  }
  .number-button:hover{
    padding-left: 18px;
    padding-right: 18px;
    margin-right: 0px;
    margin-left: 0px;
  }