.top{
    color: rgb(0, 118, 0);
    font-weight: bold;
    font-size: 17px;
   }

   .step{
    background-color: rgb(243, 243, 47);
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10;
    transition: background-color 0.15s, opacity 0.15s;
   }
   
   .step:hover{
      background-color: rgb(221, 221, 8);
   }

   .step:active{
      opacity: 0.7;
   }

   .up{
    background-color: rgb(252, 188, 27);
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
   }

   .up:hover{
      background-color: rgb(230, 166, 4);
   }

   .up:active{
      opacity: 0.7;
   }
   .crop:hover{
      color: indianred;
   }