   
   .video-grid{
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 16px; 
      row-gap: 40px;
    }
    @media (max-width: 750px) {
      .video-grid{
        grid-template-columns: 1fr 1fr;
      }
    }

    @media (min-width: 751px) and (max-width: 999px) {
      .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    @media (min-width: 1000px) {
      .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
      .thumbnail{
      width: 100%; 

      }


      .video-title{
      margin-top: 0;
      line-height: 20px;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 10px;
      }

      .video-author,
      .video-stats{
      font-size: 14px;
      color: rgb(96, 96, 96);
      line-height: 20px;
      }

      @media (min-width: 1000px) {
        .video-title{
          font-size: 16px;
          line-height: 24px;
        }
        .video-author,
        .video-stats {
          font-size: 14px;
        }
      }

      .channel-picture{
      display: inline-block;
      width: 30px;
      vertical-align: top;
      margin-right: 4px;
     }

      .video-info{
      display: inline-block;
      width: 200px;
      margin-left: 8px;
      }

      .profile-picture{
        width: 36px;
        border-radius: 40px;
      }

      .thumbnail-row{
        margin-bottom: 8px;
        position: relative;
      }

      .video-time{
        position: absolute;
        bottom: 8px;
        right: 5px;
        background-color: black;
        color: white;
        font-size: 15px;
        padding: 4px;
        font-weight: bold;
        border-radius: 2px;
      }

      .channel-picture {
        position: relative;
        display: inline-block ;
      }
      .channel-picture .tooltip {
       position: absolute;
       box-shadow: 3px 0px 12px 1px rgba(0, 0, 0, 0.5);
       background-color: white;
       width: 220px;
       height: 70px;
       display: flex;
       align-items: center;
       border-radius: 5px;
       opacity: 0;
       transition: opacity 0.25s;
       pointer-events: none;
       cursor: pointer;
      }
      .channel-picture:hover .tooltip {
        opacity: 1;
      }
      .tooltip img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-right: 8px;
      }
      .tooltip-author {
        font-weight: bold;
        font-size: 15px;
      }
      .tooltip-stats {
        color: rgb(43, 42, 42);
        font-size: 13px;
      }
      .tooltip-info {
        margin-right: 16px;
        line-height: 20px;
      }
